$white: #ffffff;
$main-blue:#053554;
$light-blue:#edf4F5;
$black: #000000;
$charcoal: #333333;
$light-gray: #fbfbfb;
$dark-gray: #707070;
$medium-gray: #b1b1b1;
$red: #cc0000;

$brand-blue: #005170;
$secondary-blue: #3e95d1;
$light-blue: #f2fdff;
$medium-blue: #cfe6f2;

*:focus {
  outline: 0;
}

button:focus {
  outline: 0;
}

html {
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
}

section {
  padding:160px 0px;

    &.content {
      padding-top:100px;

        h1 {
          margin-bottom:5px;
          font-size: 2.25rem;
        }

        h2 {
          font-size:1.875rem;
          margin-bottom:0;
          color:$black;
          &:after {
            display: none;
            color:$black;
          }
        }

        h3 {
          font-size:1.5rem;
          margin-bottom:10px;
          &:after {
            display: none;
            color:$black;
          }
        }

        h4 {
          font-size:1.125rem;
          margin-bottom:0;
          font-weight: 700;
          margin-top:5px;
        }
    }
}

// CSS GRID
.grid {
  display: grid;
}

.grid-inline {
  display: inline-grid;
}

// Image Crossfade
.splash-image{position:relative;}
.splash-image img{position:absolute;z-index:1}
.splash-image img.active{z-index:3}

// Modal Override
.modal-header {
  padding:0px;
    .close {
      background:$white;
      position: absolute;
      right:0px;
      opacity: 1;
      height:60px;
      width:60px;
      border-radius: 50%;
      z-index: 10;

      &:hover {
        opacity: 1;
      }
    }

    .close:not(:disabled):not(.disabled):hover {
      opacity: 1;
    }
}

.modal-footer {
  .content {
    border-bottom:1px solid #dee2e6;
    margin-top:10px;
    padding-bottom:20px;
    margin-bottom:10px;
  }
}

iframe {
  border:0px;
}

// Property Carousel
.content {
  .carousel {
    max-height:800px;
    max-width:1440px;
    margin:auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow:4px 4px 10px rgba(0,0,0,0.25);

      .carousel-inner {
        max-height:800px;
      }
  }
}